AI_DONGDONG_CARD_API_URL=https://dongdong-api.1234567.com.cn/oa-chat-api/api/msg/universalCard/
AI_DONGDONG_SERVICE_ACCOUNT=800619
AI_DONGDONG_SERVICE_TOKEN=REPLACE_ME
AI_DONGDONG_APPID=D619
AI_DONGDONG_GROUP_ID=62800
AI_DONGDONG_CARD_TYPE=networkAiAnalysisCard
AI_DONGDONG_CARD_TEMPLATE=default
AI_DONGDONG_CARD_NEED_REFRESH=false
AI_DONGDONG_CARD_EXPIRE=2099-01-01
AI_DONGDONG_TIMEOUT=10
